h1
{
text-align: center;
color:blue
}

h2
{
text-align: center;
color:black
}

table 
{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

th 
{
border: 1px solid #dddddd;
text-align: center;
padding: 10px;
}

td 
{
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

body 
{
    background-image: url('p2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
}

img
{
    display: block;
    margin: auto;
}

div
{
	text-align: center;
}
